{#
@author David Alexa <alexa.david@me.com>

Copyright (C) 2012-2013 CESNET

LICENSE TERMS

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:
1. Redistributions of source code must retain the above copyright
  notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
  notice, this list of conditions and the following disclaimer in
  the documentation and/or other materials provided with the
  distribution.
3. Neither the name of the Company nor the names of its contributors
  may be used to endorse or promote products derived from this
  software without specific prior written permission.

ALTERNATIVELY, provided that this notice is retained in full, this
product may be distributed under the terms of the GNU General Public
License (GPL) version 2 or later, in which case the provisions
of the GPL apply INSTEAD OF those given above.

This software is provided ``as is'', and any express or implied
warranties, including, but not limited to, the implied warranties of
merchantability and fitness for a particular purpose are disclaimed.
In no event shall the company or contributors be liable for any
direct, indirect, incidental, special, exemplary, or consequential
damages (including, but not limited to, procurement of substitute
goods or services; loss of use, data, or profits; or business
interruption) however caused and on any theory of liability, whether
in contract, strict liability, or tort (including negligence or
otherwise) arising in any way out of the use of this software, even
if advised of the possibility of such damage.
#}

{% set outIterator = 0 %}
{% set outXpath = xpath ~ '/*' ~ '[' ~ iterator ~ ']' %}
{% if hasChildren is not defined %}
	{% set hasChildren = false %}
{% endif %}

{% if element|length %}	
	<div class="level-{{ level }} {{key}}">
		
		{% if key == 'container' %}
			{% set useLevel = true %}
		{% else %}
			{% set useLevel = false %}
		{% endif %}

		{% if element.attributes.config is defined and element.attributes.config == "true" %}
			{% include 'FITNetopeerBundle:Config:leaf.html.twig' with {'element': element, 'xpath': outXpath, 'key': key, 'level': level, 'addLevel': useLevel, 'iterator': iterator, 'hasChildren': hasChildren} %}
		{% else %}
			{% include 'FITNetopeerBundle:State:leaf.html.twig' with {'element': element, 'key': key, 'level': level, 'addLevel': useLevel, 'hasChildren': hasChildren} %}
		{% endif %}
		{% set hasChildren = false %}

		

		{% for key, el in element %}
			{% set outIterator = outIterator + 1 %}

			{% if element.hasChildren() %}
				{% include 'FITNetopeerBundle:State:parent.html.twig' with {'element': element.getChildren(), 'xpath': outXpath, 'key': key, 'level': level + 1, 'iterator': outIterator, 'hasChildren': true } %}
			{% else %}
				{# next line is commented because issue #763, please visit for more informations #}
				{#{% set tmpXpath = outXpath ~ '/*[' ~ outIterator ~ ']/*[' ~ outIterator2 ~ ']' %}#}

				{% set tmpXpath = outXpath ~ '/*[' ~ outIterator ~ ']' %}
				{% if element.current().attributes.config is defined and element.current().attributes.config == "true" %}
					{% include 'FITNetopeerBundle:Config:leaf.html.twig' with {'element': element.current(), 'xpath': tmpXpath, 'key': key, 'level': level + 1, 'addLevel': true, 'iterator': outIterator} %}
				{% else %}
					{% include 'FITNetopeerBundle:State:leaf.html.twig' with {'element': element.current(), 'key': key, 'level': level + 1, 'addLevel': true} %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% else %}	
	{% if element.attributes.config is defined and element.attributes.config == "true" %}
		{% include 'FITNetopeerBundle:Config:leaf.html.twig' with {'element': element, 'xpath': outXpath, 'key': key, 'level': level, 'addLevel': true, 'iterator': iterator } %}
	{% else %}
		{% include 'FITNetopeerBundle:State:leaf.html.twig' with {'element': element, 'key': key, 'level': level, 'addLevel': true} %}
	{% endif %}
{% endif %}
