Makefile
*.o
*.cproject
*.project
cli/config.log
cli/config.status
cli/netopeer-cli
cli/netopeer-cli.spec
transAPI/cfgsystem/.libs
transAPI/cfgsystem/.obj
transAPI/cfgsystem/base/common.h
transAPI/cfgsystem/cfgsystem-init
transAPI/cfgsystem/cfgsystem.la
transAPI/cfgsystem/config.log
transAPI/cfgsystem/config.status
transAPI/cfgsystem/libtool
transAPI/cfgsystem/model/ietf-system-data.rng
transAPI/cfgsystem/nc_cfgsystem/build
server/config.log
server/config.status
server/config/NETCONF-server.xml
server/config/NETCONF-server.xml.tmp
server/config/Netopeer.xml
server/config/Netopeer.xml.tmp
server/config/ietf-netconf-server-data.rng
server/config/netopeer-cfgnetopeer-data.rng
server/config/org.liberouter.netopeer.conf
server/config/org.liberouter.netopeer.server.service
server/configurator/build
server/configurator/netopeer/config.py
server/manager/netopeer-manager
server/manager/netopeer-manager.tmp
server/netopeer-agent
server/netopeer-server
server/netopeer-server.spec
server/netopeer.rc
server/src/config.h
server/yang_example
server/restconf-agent
server/converter_example
